.git
.github
.idea
.vscode

# Anything phpize would generate or that COPY . . shouldn't pull in
*.o
*.lo
*.la
*.so
*.dep
.libs
.deps
modules
build
build-out
autom4te.cache
config.h
config.log
config.nice
config.status
config.guess
config.sub
configure
configure~
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
Makefile
Makefile.fragments
Makefile.global
Makefile.objects
acinclude.m4
aclocal.m4
confdefs.h
run-tests.php
tests/*.out
tests/*.diff
tests/*.exp
tests/*.log
tests/*.php
tests/*.sh
!tests/_bootstrap.inc
