*.o
*.lo
*.la
*.so
*.dSYM/
.libs/
.deps/
autom4te.cache/
build/
modules/
config.h
config.h.in
config.log
config.nice
config.status
config.guess
config.sub
configure
configure.ac
configure~
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
/Makefile
/Makefile.fragments
/Makefile.global
/Makefile.objects
acinclude.m4
aclocal.m4
build-out/
tests/c/bin/
tests/*.diff
tests/*.exp
tests/*.log
tests/*.out
tests/*.php
tests/*.sh
!tests/*.phpt
!tests/c/*.c
!tests/c/*.h
!tests/c/Makefile
.idea/
.vscode/
.DS_Store
compile_commands.json
.cache/
*.dep
confdefs.h
run-tests.php
tests/c/build-out/
